@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container{
  max-width: 1240px;
  margin: 0 auto;
}
.btn-primary{
  font-size: 1.25rem;
  font-weight: 700;
  background-color: rgb(229, 84, 115);
  color: rgb(255, 255, 255);
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* header-section */
.head{
  background-color: rgba(229, 84, 115, 0.1);
  width: 100%;
  margin-bottom: 150px;
}

.header-section{
  display: flex;
  padding-top: 50px;
  align-items: center;
   
}
.header-left{
  max-width: 50%;
  align-items: center;
}
.header-left h1{
  font-weight: 800;
  font-size: 4.5rem;
  color: rgb(39, 39, 39);
  
  
}
.header-left p{
  font-size: 1.12rem;
  color: rgba(39, 39, 39, 0.6);
  margin: 20px auto;
}
.header-right{
  flex: 1;

}
.header-right img{
  /* max-width: 635px; */
  display: flex;
  height: 600px;
  margin-left: 100px;
  
}

/* featured-section */
.featured-section{
  text-align: center;
  max-width: 600px;
  margin: auto;
}
.featured-section h3{
  font-size: 2.5rem;
  font-weight: 800;
  color: rgb(39, 39, 39);
}
.featured-section p{
  font-size: 1.12rem;
  font-weight: 400;
  color: rgba(39, 39, 39, 0.6);
  margin-top: 15px;
  margin-bottom: 35px;
}
.featured-card-section{
  display: flex;
  justify-content: space-between;
}
.card-image{
  background-color: rgba(167, 33, 98, 0.15);
  border-radius: 280px 280px 0 0;
}
.card-image img{
  max-width: 400px;
  height: 500px;
  padding: 100px 55px 0 55px;
}
.card-image-1{
  background-color: rgba(5, 151, 160, 0.15);
  border-radius: 280px 280px 0 0;
}
.card-image-1 img{
  max-width: 400px;
  height: 500px;
  padding: 100px 65px 40px 65px;
}

.card-image-2{
  background-color: rgba(71, 125, 17, 0.15);
  border-radius: 280px 280px 0 0;
}
.card-image-2 img{
  max-width: 400px;
  height: 500px;
  padding: 80px 55px 0 55px;
}
.image-name{
  text-align: center;
  text-decoration: underline;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(49, 49, 49);
  margin-top: 25px;
}
.mini-card-section{
  background-color: rgba(39, 39, 39, 0.05);
  margin-top: 100px;
  border-radius: 8px;
  margin-bottom: 100px;
}
.mini-card-container{
  display: flex;
  justify-content: space-between;
  padding: 80px 160px;
  align-items: center;
  text-align: center;
}
.mini-card p{
  font-size: 1.35rem;
  font-weight: 700;
  color: rgba(39, 39, 39, 0.80);
  margin-top: 20px;
}
.discount-section{
  display: flex;
  background-color: rgba(229, 84, 115, 0.05);
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 60px 0;
}
.discount{
  text-align: center;
  align-items: center;
  max-width: 500px;
}
.discount h3{
  font-size: 2.12rem;
  font-weight: 800;
  color: rgba(39, 39, 39, 1.00);
  margin-bottom: 20px;
}
.discount-off{
  color: rgba(229, 84, 115, 1.00);
}
.discount p{
  color: rgba(39, 39, 39, 0.60);
  margin-bottom: 25px;
}




/* media query */
@media screen and (max-width: 575px) {

  .header-section{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 20px 0 20px;
  }
  .header-left{
    max-width: 100%;
    
  }
  .header-left h1{
    font-size: 2.5rem;
  }
  .header-right img{
    margin: 20px 0 0 0;
    height:auto;
    max-width: 100%;
  }

  .featured-card-section{
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .card-image,
  .card-image-1 img,
  .card-image-2 img{
    max-width: 100%;
    height: auto;
     /* padding: 50px 30px 0px 30px; */
  }
  .mini-card-container{
    flex-direction: column;
    gap: 50px;
  }

}


@media screen and (min-width: 575px) and (max-width: 992px){

  .header-section{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 20px;
  }
  .header-left{
    max-width: 100%;
    
  }
  .header-left h1{
    font-size: 4.0rem;
  }
  .header-right img{
    margin: 20px 0 0 0;
    height:auto;
    max-width: 100%;;
  }

    .featured-card-section {
     flex-direction: column;
     align-items: center;
     gap: 50px;
  }

  .card-image img,
  .card-image-1 img,
  .card-image-2 img {
    max-width: 100%;
    height: auto;
    padding: 60px 40px 0 40px;
  }
  
}